@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    --font0: 'Passion One', sans-serif;
    --font1: 'Sriracha';
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 320px;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 6em;
    font-family: var(--font0);
}

.letrag {
    font-size: 2em;
}

header > p {
    color: rgba(255, 255, 255, 0.589);
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bgwhite {
    height: 600px;
    background-color: white;
    border: 1px solid black;
}

.bgwhite > p {
    font-size: 2.5em;
    height: 100%;
    width: 80%;
    line-height: 1.6em;
    font-family: var(--font1);
    padding-top: 50px;
    padding-left: 20px;
}

.bgimg {
    height: 600px;
    background-color: black;
    background-image: url(background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bgimg > p{
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    font-size: 2.5em;
    height: 500px;
    width: 50%;
    line-height: 1.6em;
    font-family: var(--font1);
    border: 1px solid black;
    position: absolute;
    

    top: 50px;
    left: 20px;
}

#q2 {
    height: 1200px;
}

#q3 {
    background-image: url(background002.jpg);
}

#q4 {
    height: 1200px;
}

footer {
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
}

footer > p{
    padding-top: 10px;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
